.App {
  text-align: center;
}



body {
  background-color: #000000 !important;
  color: #ffffff;
  font-family: Oswald;
}

/* //-------------\\ */
/* //---Navbar---\\ */
/* //-------------\\ */

.nav-a {
  color: rgb(174, 174, 174);
  text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-a:hover {
  cursor: pointer;
  color: #ffffff;
}

.navLi {
  display: inline;
  margin-right: 30px;
}

.main-nav ul li:last-child {
    background-color: #ef227d; /* Background color */
    padding: 10px;
}

.navLogo {
  width: 82px;
  margin-top: 20px;
}

.nav-a {
  color: #a09f9f;
  text-decoration: none;
  padding: 10px 15px;
}

.nav-toggle {
  margin-top: 20px;
  margin-left: 10px;
  color: #ef227d;
  font-size: 30px;
  border: none;
  cursor: pointer;
  display: none;
}


/* //-------------\\ */
/* //---Home---\\ */
/* //-------------\\ */

.main-Home {
  height: 90vh;
}

.home-address {
  font-family: 'Courier New';
}

.home-table {
  font-family: 'Courier New';
  color: #ef227d;
}

.homeLogo {
  width: 900px;
}

/* //-------------\\ */
/* //---About---\\ */
/* //-------------\\ */

.items-bar {
  display: flex;
  justify-content: space-evenly;
}

.main-menuIntro {
  display: flex;
}

.about-h2 {
  font-family: 'Courier New';
  margin-top: 10px;
}

.intro-p {
  width: 30%;
  text-align: left;
  margin-left: 130px;
  margin-top: 80px;
}

.paragraph {
  font-family: 'Courier New', Courier, monospace;
}

.tabs-ul {
  margin-left: 30px;
}

.tabs-ul ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tabs-ul ul li {
  display: inline-block;
  font-size: 25px;
  margin-right: 50px;
  position: relative;
  transition: transform 0.3s ease;
}

.tabs-ul ul li.active {
  transform: translateY(-5px);
}

.tabs-ul ul li a {
  text-decoration: none;
  color: #ffffff;
}

.tabs-ul ul li.active span {
  border-bottom: 4px solid #ef227d;
}

.tabs-image {
  width: 850px;

}


/* //-------------\\ */
/* //---Footer---\\ */
/* //-------------\\ */

.footer {
  background-color: #1a1919;
  width: 100%;
  margin-bottom: -15px;
}

.footer-icons {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  color: #ef227d;
  font-size: 90px;
  padding-top: 20px;
}

.ul-container {
  display: flex;
  justify-content: space-evenly;
}

.list li {
  list-style: none;
  text-align: left;
  margin-bottom: 8px;
  font-family: sans-serif;
  font-weight: bold;
}

.headings {
  color: #ef227d;
  font-size: 28px;
  font-weight: bold;
}

.animate__animated.animate__backInLeft {
  --animate-duration: 1s;
}


/* -----------------------------Media-Query---------------------------------------- */

@media screen and (max-width: 998px) {
  .homeLogo {
    width: 700px;
  }

  .items-bar {
    flex-direction: column;
  }

  .main-menuIntro {
    flex-direction: column;
  }

  .intro-p {
    width: 50%;
    text-align: left;
    align-items: center;
  }

  .tabs-image {
    width: 600px;
  }

  .ul-container {
    flex-direction: column;
  }

  .list li {
    margin-left: 200px;
  }
}

@media screen and (max-width: 768px) {
  .main-Home {
    height: 65vh;
  }

  .homeLogo {
    width: 600px;
  }

  .tabs-image {
    width: 480px;
  }

  .main-nav ul {
    display: none;
    text-align: left;
    justify-content: center;
    flex-direction: column;
    background: #ef227d;
    color: #ffffff;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 50%;
    left: 400px;
    right: 0;
    z-index: 10;
    transform: translateY(-50%);
    animation: slideLeft 1s forwards;
  }

  @keyframes slideLeft {
    0% {
      left: 0;
    }
    100% {
      left: calc(100% - 300px); 
    }
  }

  .main-nav ul li:last-child {
    background-color: #ef227d;
    padding: 0;
  }

  .navLi {
    padding-bottom: 10px;
  }

  .navLi a {
    color: #ffffff;
    font-size: 20px;
  }

  .main-nav.active ul {
    display: flex;
  }

  .nav-toggle {
    display: block;
  }

  .list li {
    margin-left: 100px;
  }

  .footer-icons {
    font-size: 60px;
  }
}

@media screen and (max-width: 598px) {
  .homeLogo {
    width: 450px;
  }

  .main-nav ul {
    left: 200px;
  }

  .tabs-image {
    width: 350px;
  }

  .list li {
    margin-left: 70px;
  }
}

@media screen and (max-width: 448px) {
  .homeLogo {
    width: 300px;
  }

  .main-nav ul {
    left: 100px;
    transform: translateY(-50%);
    animation: slideLeft 1s forwards;
  }

  @keyframes slideLeft {
    0% {
      left: 0;
    }
    100% {
      left: calc(100% - 200px); 
    }
  }

  .tabs-image {
    width: 300px;
  }

  .intro-p {
    margin-left: 40px;
  }

  .tabs-ul {
    font-size: 10px;
    margin-left: 30px;
  }

  .list li {
    margin-left: 0px;
  }
}

@media screen and (max-width: 300px) {
  .tabs-image {
    width: 250px;
  }
}
